In [5]:
df = read.csv("C:/Users/Admin/Desktop/ADS.csv")

In [6]:
df

   No GPA  Years.of.work.experience Latest.salary..per.year. Highest.GPA
1   1 3.50 2.5                      45000                    3.50
2   2 3.80 1.0                      65000                    3.60
3   3 3.80 2.0                      85000                    4.00
4   4 3.41 1.5                      10000                    3.41
5   5 3.33 5.0                      70000                    3.67
6   6 3.52 2.5                      27000                    3.58
7   7 3.50 2.0                      40000                    3.70
8   8 3.50 5.0                      75000                    3.53
9   9 3.60 2.5                      65000                    3.90
10 10 3.20 4.0                      62000                    3.80
11 11 3.50 2.0                      60000                    3.50
12 12 3.67 1.8                      60000                    4.00
13 13 3.50 2.0                      60000                    3.70
14 14 3.47 2.5                      70000                    3.64
15 15 3.06 1.3                      40000                    3.64
16 16 3.27 2.0                      60000                    4.00
17 17 3.53 4.0                      50000                    4.00
18 18 4.00 4.0                      50000                    4.00
19 19 3.40 1.0                      30000                    3.60
20 20 3.54 1.0                      40000                    4.00
21 21 3.50 2.0                      75000                    4.00
22 22 3.50 4.0                      50000                    3.80
23 23 3.40 3.0                      50000                    3.80
24 24 3.30 4.0                      65000                    4.00
25 25 3.90 6.0                      90000                    4.00
26 26 3.17 1.0                      50000                    3.30
27 27 3.48 3.5                      60000                    4.00
28 28 3.93 4.0                      43000                    4.00
29 29 3.43 4.0                      60000                    3.50
30 30 3.33 5.0                       5000                    3.66
31 31 3.60 1.5                      60000                    3.70
32 32 3.80 3.0                      65000                    3.80
33 33 3.50 3.0                      65000                    4.00
34 34 3.39 2.0                      60000                    3.80
   Lowest.GPA Coops.Internships..YN. Number.of.contacts.on.Linkedin
1  3.50       N                      250
2  3.00       Y                      400
3  3.60       Y                      500
4  3.33       N                      365
5  3.00       Y                      400
6  3.52       N                      230
7  3.30       N                      250
8  3.30       Y                      260
9  3.10       Y                      250
10 3.00       N                      525
11 3.50       N                      400
12 3.00       N                      920
13 3.30       y                      300
14 3.37       Y                      310
15 2.67       Y                      550
16 3.00       Y                      350
17 3.30       N                      600
18 4.00       Y                      500
19 3.10       N                      500
20 3.42       Y                      650
21 3.00       Y                      515
22 3.20       Y                      350
23 3.20       Y                      301
24 3.65       Y                      700
25 3.80       Y                      809
26 3.00       N                      258
27 3.33       Y                      350
28 3.28       Y                      900
29 3.30       Y                      220
30 3.00       Y                      183
31 3.40       Y                      340
32 3.50       Y                      800
33 3.60       Y                      400
34 3.20       Y                      500
   Expected.Salary.after.graduation
1   90000
2  100000
3   90000
4  100000
5  100000
6   85000
7   90000
8  100000
9  110000
10 105000
11  85000
12 140000
13  90000
14  95000
15 120000
16 100000
17  88000
18 130000
19  80000
20  95000
21  80000
22 110000
23  90000
24 100000
25 120000
26 100000
27 100000
28 100000
29 110000
30 100000
31 100000
32  80000
33  80000
34  90000

In [10]:
minGPA = min(df$GPA)
minGPA

[1] 3.06

In [11]:
maxGPA = max(df$GPA)
maxGPA

[1] 4

In [16]:
medianGPA = median(df$GPA)
medianGPA

[1] 3.5

In [13]:
avgGPA = mean(df$GPA)
avgGPA

[1] 3.509706

In [14]:
minWorkEx = min(df$Years.of.work.experience)
minWorkEx

[1] 1

In [15]:
maxWorkEx = max(df$Years.of.work.experience)
maxWorkEx

[1] 6

In [18]:
medianWorkEx = median(df$Years.of.work.experience)
medianWorkEx

[1] 2.5

In [19]:
avgWorkEx = mean(df$Years.of.work.experience)
avgWorkEx

[1] 2.811765

In [25]:
getmode = function(v) {
   uniq = unique(v)
   uniq[which.max(tabulate(match(v, uniq)))]
}
mode = getmode(df$Latest.salary..per.year)
print(mode)

[1] 60000

In [29]:
students = length(df$No)
students

[1] 34

In [28]:
coop = length(which((df$Coops.Internships..YN.=='Y')|(df$Coops.Internships..YN.=='y')))
coop
percentageCoop = (coop/students)*100
percentageCoop

[1] 24

[1] 70.58824

In [31]:
noCoop = length(which((df$Coops.Internships..YN.=='N')|(df$Coops.Internships..YN.=='n')))
noCoop
percentageNoCoop = (noCoop/students)*100
percentageNoCoop

[1] 10

[1] 29.41176

In [32]:
linkedinContacts = length(which(df$Number.of.contacts.on.Linkedin>500))
linkedinContacts

[1] 10

In [33]:
interquartileRange = IQR(df$Expected.Salary.after.graduation,na.rm=TRUE)
interquartileRange

[1] 10000